#bungkus{
    display: flex;
    justify-content: center;
}
.isi{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.upper{
    display: flex;
    align-items: center;
    width: 500px;
    margin-bottom: 7px;
    padding-top: 7px;
    padding-bottom: 7px;
}
.img{
    margin-left: 10px;
}
.text-upper{
    margin-left: 15px;
    line-height: 4px;
    font-family: "Inter", sans-serif;
}
.text-upper p{
    font-size: 15px;
    color: #717171;
}
.dots{
    margin-left: 150px;
}
.middle-2{
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 10px 10px;
}